<template>
	<!-- Bestsaler Product Start -->
	<div class="container-fluid py-5">
		<div class="container py-5">
			<div class="text-center mx-auto mb-5" style="max-width: 700px;">
				<h1 class="display-4">Bestseller Products</h1>
				<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
			</div>
			<div class="row g-4">
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-1.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-2.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-3.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-4.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-5.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4">
					<div class="p-4 rounded bg-light">
						<div class="row align-items-center">
							<div class="col-6">
								<img src="/fruitable/img/best-product-6.jpg" class="img-fluid rounded-circle w-100" alt="">
							</div>
							<div class="col-6">
								<a href="#" class="h5">Organic Tomato</a>
								<div class="d-flex my-3">
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star text-primary"></i>
									<i class="fas fa-star"></i>
								</div>
								<h4 class="mb-3">3.12 $</h4>
								<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="text-center">
						<img src="/fruitable/img/fruite-item-1.jpg" class="img-fluid rounded" alt="">
						<div class="py-4">
							<a href="#" class="h5">Organic Tomato</a>
							<div class="d-flex my-3 justify-content-center">
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star"></i>
							</div>
							<h4 class="mb-3">3.12 $</h4>
							<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="text-center">
						<img src="/fruitable/img/fruite-item-2.jpg" class="img-fluid rounded" alt="">
						<div class="py-4">
							<a href="#" class="h5">Organic Tomato</a>
							<div class="d-flex my-3 justify-content-center">
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star"></i>
							</div>
							<h4 class="mb-3">3.12 $</h4>
							<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="text-center">
						<img src="/fruitable/img/fruite-item-3.jpg" class="img-fluid rounded" alt="">
						<div class="py-4">
							<a href="#" class="h5">Organic Tomato</a>
							<div class="d-flex my-3 justify-content-center">
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star"></i>
							</div>
							<h4 class="mb-3">3.12 $</h4>
							<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="text-center">
						<img src="/fruitable/img/fruite-item-4.jpg" class="img-fluid rounded" alt="">
						<div class="py-2">
							<a href="#" class="h5">Organic Tomato</a>
							<div class="d-flex my-3 justify-content-center">
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star text-primary"></i>
								<i class="fas fa-star"></i>
							</div>
							<h4 class="mb-3">3.12 $</h4>
							<a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bestsaler Product End -->
</template>