<template>
	<!-- Fact Start -->
	<div class="container-fluid py-5">
		<div class="container">
			<div class="bg-light p-5 rounded">
				<div class="row g-4 justify-content-center">
					<div class="col-md-6 col-lg-6 col-xl-3">
						<div class="counter bg-white rounded p-5">
							<i class="fa fa-users text-secondary"></i>
							<h4>satisfied customers</h4>
							<h1>1963</h1>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3">
						<div class="counter bg-white rounded p-5">
							<i class="fa fa-users text-secondary"></i>
							<h4>quality of service</h4>
							<h1>99%</h1>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3">
						<div class="counter bg-white rounded p-5">
							<i class="fa fa-users text-secondary"></i>
							<h4>quality certificates</h4>
							<h1>33</h1>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3">
						<div class="counter bg-white rounded p-5">
							<i class="fa fa-users text-secondary"></i>
							<h4>Available Products</h4>
							<h1>789</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fact Start -->
</template>