<template>
	<div class="section section-4 bg-light">
		<div class="container">
			<div class="row justify-content-center text-center mb-5">
				<div class="col-lg-5">
					<h2 class="font-weight-bold heading text-primary mb-4 text-xl">
						Let's find home that's perfect for you
					</h2>
					<p class="text-black-50">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
						enim pariatur similique debitis vel nisi qui reprehenderit.
					</p>
				</div>
			</div>
			<div class="row justify-content-between mb-5">
				<div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
					<div class="img-about dots">
						<img src="/property-website/images/hero_bg_3.jpg" alt="Image" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-home2"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">2M Properties</h3>
							<p class="text-black-50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Nostrum iste.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-person"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">Top Rated Agents</h3>
							<p class="text-black-50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Nostrum iste.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-security"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">Legit Properties</h3>
							<p class="text-black-50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Nostrum iste.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row section-counter mt-5">
				<div
				class="col-6 col-sm-6 col-md-6 col-lg-3"
				data-aos="fade-up"
				data-aos-delay="300"
				>
				<div class="counter-wrap mb-5 mb-lg-0">
					<span class="number"
					><span class="countup text-primary">3298</span></span
					>
					<span class="caption text-black-50"># of Buy Properties</span>
				</div>
			</div>
			<div
			class="col-6 col-sm-6 col-md-6 col-lg-3"
			data-aos="fade-up"
			data-aos-delay="400"
			>
			<div class="counter-wrap mb-5 mb-lg-0">
				<span class="number"
				><span class="countup text-primary">2181</span></span
				>
				<span class="caption text-black-50"># of Sell Properties</span>
			</div>
		</div>
		<div
		class="col-6 col-sm-6 col-md-6 col-lg-3"
		data-aos="fade-up"
		data-aos-delay="500"
		>
		<div class="counter-wrap mb-5 mb-lg-0">
			<span class="number"
			><span class="countup text-primary">9316</span></span
			>
			<span class="caption text-black-50"># of All Properties</span>
		</div>
	</div>
	<div
	class="col-6 col-sm-6 col-md-6 col-lg-3"
	data-aos="fade-up"
	data-aos-delay="600"
	>
	<div class="counter-wrap mb-5 mb-lg-0">
		<span class="number"
		><span class="countup text-primary">7191</span></span
		>
		<span class="caption text-black-50"># of Agents</span>
	</div>
</div>
</div>
</div>
</div>
</template>