<template>
	<div>
		<client-only>
			<supplier-sosis-navigation />

			<supplier-sosis-hero />

			<supplier-sosis-service />

			<supplier-sosis-product />

			<supplier-sosis-kontak />

			<supplier-sosis-footer />
		</client-only>
	</div>
</template>

<script setup>
	useSeoMeta({
		title: 'Saudagar Sosis - Phoenix Digital Tech Solution',
		ogTitle: 'Phoenix Digital Tech Solution',
		description: 'Selamat datang di dunia rasa yang autentik dan berkualitas tinggi dengan landing page kami untuk supplier sosis terkemuka. Kami adalah titik pertemuan antara keahlian tradisional dan inovasi modern dalam dunia sosis yang lezat. Dengan dedikasi kami untuk kualitas terbaik dan kepuasan pelanggan yang tak tertandingi, kami hadir untuk memenuhi setiap kebutuhan dan keinginan Anda dalam hal produk sosis yang segar dan lezat. Nikmati berbagai pilihan produk kami yang beragam, disajikan dengan keahlian dan perhatian yang tiada tara. Selamat datang di dunia rasa yang tiada duanya, selamat datang di landing page kami.',
		ogDescription: 'Selamat datang di dunia rasa yang autentik dan berkualitas tinggi dengan landing page kami untuk supplier sosis terkemuka. Kami adalah titik pertemuan antara keahlian tradisional dan inovasi modern dalam dunia sosis yang lezat. Dengan dedikasi kami untuk kualitas terbaik dan kepuasan pelanggan yang tak tertandingi, kami hadir untuk memenuhi setiap kebutuhan dan keinginan Anda dalam hal produk sosis yang segar dan lezat. Nikmati berbagai pilihan produk kami yang beragam, disajikan dengan keahlian dan perhatian yang tiada tara. Selamat datang di dunia rasa yang tiada duanya, selamat datang di landing page kami.',
		ogImage: 'https://dksindo.com/images/portfolio/supplier-sosis.png',
		twitterCard: 'summary_large_image',
	});
</script>