<template>
	<section class="gallery_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title position-relative">
						<h1>foodbar galleries</h1>
						<hr>
						<div class="round-planet planet">
							<div class="round-planet planet2">
								<div class="shape shape1"></div>
								<div class="shape shape2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="lightgallery">
				<div class="col-lg-7 all-image" data-src="/foodbar/img/gallery/g1.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g1.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-5 all-image" data-src="/foodbar/img/gallery/g2.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g2.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-4 all-image" data-src="/foodbar/img/gallery/g3.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g3.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-4 all-image" data-src="/foodbar/img/gallery/g4.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g4.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-4 all-image" data-src="/foodbar/img/gallery/g5.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g5.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-5 all-image" data-src="/foodbar/img/gallery/g6.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g6.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>

				<div class="col-lg-7 all-image" data-src="/foodbar/img/gallery/g7.jpg">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/foodbar/img/gallery/g7.jpg" alt="">
						<div class="content">
							<i class="lnr lnr-picture"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>