<template>
	<section class="top_dish_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title position-relative">
						<h1>Our Top Rated Dishes</h1>
						<hr>
						<div class="round-planet planet">
							<div class="round-planet planet2">
								<div class="shape shape1"></div>
								<div class="shape shape2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="single_dish col-lg-4 col-md-6 text-center">
					<div class="thumb">
						<img class="img-fluid" src="/foodbar/img/dish/d1.jpg" alt="">
					</div>
					<h4>Bread Fruit Cheese Sandwich</h4>
					<p>
						Bread/Potato/Cheese
					</p>
					<h5 class="price">$5.59</h5>
				</div>

				<div class="single_dish col-lg-4 col-md-6 text-center">
					<div class="thumb">
						<img class="img-fluid" src="/foodbar/img/dish/d2.jpg" alt="">
					</div>
					<h4>Beef Cutlet with Spring Onion</h4>
					<p>
						Bread/Potato/Cheese
					</p>
					<h5 class="price">$5.59</h5>
				</div>

				<div class="single_dish col-lg-4 col-md-6 text-center">
					<div class="thumb">
						<img class="img-fluid" src="/foodbar/img/dish/d3.jpg" alt="">
					</div>
					<h4>Meat with sauce & Vegetables</h4>
					<p>
						Bread/Potato/Cheese
					</p>
					<h5 class="price">$5.59</h5>
				</div>
			</div>
		</div>
	</section>
</template>