<template>
	<!-- Blog -->
	<section class="blog-area section-gap" id="blog">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-20 col-lg-10">
					<div class="title text-center">
						<h1 class="mb-10 text-5xl">What kind of Coffee we serve for you</h1>
						<p class="text-md">Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>						
			<div class="row">
				<div class="col-lg-6 col-md-6 single-blog">
					<img class="img-fluid" src="/coffee-master/img/b1.jpg" alt="">
					<ul class="post-tags">
						<li><a href="#">Travel</a></li>
						<li><a href="#">Life Style</a></li>
					</ul>
					<a href="#"><h4>Portable latest Fashion for young women</h4></a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="post-date">
						31st January, 2018
					</p>
				</div>
				<div class="col-lg-6 col-md-6 single-blog">
					<img class="img-fluid" src="/coffee-master/img/b2.jpg" alt="">
					<ul class="post-tags">
						<li><a href="#">Travel</a></li>
						<li><a href="#">Life Style</a></li>
					</ul>
					<a href="#"><h4>Portable latest Fashion for young women</h4></a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="post-date">
						31st January, 2018
					</p>
				</div>						
			</div>
		</div>	
	</section>
</template>