<template>
	<!-- Hello! Start -->
	<div class="container-fluid position-relative py-5" id="weddingAbout">
		<div class="position-absolute" style="top: -35px; right: 0;">
			<img src="/weeding-page/img/tamp-bg-1.png" class="img-fluid" alt="">
		</div>
		<div class="position-absolute" style="top: -10px; left: 0; transform: rotate(150deg);">
			<img src="/weeding-page/img/tamp-bg-1.png" class="img-fluid" alt="">
		</div>
		<div class="container position-relative py-5">
			<div class="mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800;">
				<h1 class="text-primary display-1">Hello!</h1>
				<h4 class="text-dark mb-0">We invite you to celebrate our wedding</h4>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row g-4 align-items-center">
						<div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
							<div class="d-flex">
								<div class="text-end my-auto pe-4">
									<h3 class="text-primary mb-3">Evelyn</h3>
									<p class="text-dark mb-0" style="line-height: 30px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
									</p>
								</div>
								<img src="/weeding-page/img/bride.jpg" class="img-fluid img-border" alt="">
							</div>
						</div>
						<div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
							<div class="d-flex align-items-center justify-content-center">
								<i class="fa fa-heart fa-5x text-primary"></i>
							</div>
						</div>
						<div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
							<div class="d-flex">
								<img src="/weeding-page/img/Groom.jpg" class="img-fluid img-border" alt="">
								<div class="my-auto ps-4">
									<h3 class="text-primary mb-3">Anthony</h3>
									<p class="text-dark mb-0" style="line-height: 30px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hello! End -->
</template>