<template>
	<div class="container-fluid sticky-top px-0">
		<div class="container-fluid">
			<div class="container px-0">
				<nav class="navbar navbar-light navbar-expand-xl" id="navBar">
					<a href="/" class="navbar-brand">
						<h4 class="text-primary display-6 fw-bold mb-0">Mr<strong class="text-secondary">&amp;</strong>Mrs</h4>
					</a>
					<button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						<span class="fa fa-bars text-primary"></span>
					</button>
					<div class="collapse navbar-collapse py-3 block" id="navbarCollapse">
						<div class="navbar-nav mx-auto border-top text-pink-700">
							<a href="#weddingHome" class="nav-item nav-link active">Home</a>
							<a href="#weddingAbout" class="nav-item nav-link">About</a>
							<a href="#weddingStory" class="nav-item nav-link">Story</a>
							<a href="#weddingTimeline" class="nav-item nav-link">Timeline</a>
							<a href="#weddingGallery" class="nav-item nav-link">Gallery</a>
							<a href="#weddingRsvp" class="nav-item nav-link">RSVP</a>
						</div>
						<div class="d-flex align-items-center flex-nowrap pt-xl-0">
							<a href="#weddingRsvp" class="btn btn-primary btn-primary-outline-0 py-2 px-4 ms-4">Book Attendance</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</template>