<template>
	<!-- Story Start -->
	<div class="container-fluid story position-relative py-5" id="weddingStory">
		<div class="position-absolute" style="top: -35px; right: 0;">
			<img src="/weeding-page/img/tamp-bg-1.png" class="img-fluid" alt="">
		</div>
		<div class="position-absolute" style="top: -15px; left: 0; transform: rotate(150deg);">
			<img src="/weeding-page/img/tamp-bg-1.png" class="img-fluid" alt="">
		</div>
		<div class="container position-relative py-5">
			<div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
				<h5 class="text-uppercase text-primary fw-bold mb-4">Story</h5>
				<h1 class="display-4">Our Love Story</h1>
			</div>
			<div class="story-timeline">
				<div class="row wow fadeInUp" data-wow-delay="0.2s">
					<div class="col-md-6 text-end border-0 border-top border-end border-secondary p-4">
						<div class="d-inline-flex align-items-center h-100">
							<img src="/weeding-page/img/story-1.jpg" class="img-fluid w-100 img-border" alt="">
						</div>
					</div>
					<div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
						<div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
							<h4 class="mb-2 text-dark">First Meet</h4>
							<p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">01 Jan 2050</p>
							<p class="m-0 fs-5">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
						</div>
					</div>
				</div>
				<div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.3s">
					<div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
						<div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
							<h4 class="text-dark mb-2">First Date</h4>
							<p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">01 Jan 2050</p>
							<p class="m-0 fs-5">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
						</div>
					</div>
					<div class="col-md-6 border-start border-top border-secondary p-4">
						<div class="d-inline-flex align-items-center h-100">
							<img src="/weeding-page/img/story-2.jpg" class="img-fluid w-100 img-border" alt="">
						</div>
					</div>
				</div>
				<div class="row wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
						<div class="d-inline-flex align-items-center h-100">
							<img src="/weeding-page/img/story-3.jpg" class="img-fluid w-100 img-border" alt="">
						</div>
					</div>
					<div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
						<div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
							<h4 class="text-dark mb-2">Proposal</h4>
							<p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">01 Jan 2050</p>
							<p class="m-0 fs-5">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
						</div>
					</div>
				</div>
				<div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.5s">
					<div class="col-md-6 text-end border border-start-0 border-secondary p-4 ps-0">
						<div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
							<h4 class="text-dark mb-2">Enagagement</h4>
							<p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">01 Jan 2050</p>
							<p class="m-0 fs-5">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
						</div>
					</div>
					<div class="col-md-6 border border-end-0 border-secondary p-4">
						<div class="d-inline-flex align-items-center h-100">
							<img src="/weeding-page/img/story-4.jpg" class="img-fluid w-100 img-border" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Story End -->
</template>